.current {
  display: block;
  margin: 0 auto;
  padding: 20px 0;
}

li {
  list-style: none;
  font-size: 16px;

  margin: 0;
  padding: 0;
}

.units {
  font-size: 15px;

  position: relative;
  top: -20px;
  left: 5px;
}
#celcius-link,
#fahrenheit-link {
  text-decoration: none;
  color: rgb(54, 52, 52);
}

.weather-app {
  border: 1px solid #ececec;
  padding: 30px;
  border-radius: 15px;
  background-color: transparent;
  font-family: "Readex Pro", sans-serif;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temp {
  font-size: 13px;
}

.weather-forecast-low-temp {
  opacity: 0.5;
}
.weather-app-wrapper {
  margin: 30px auto;
  max-width: 800px;
  font-family: "Readex Pro", sans-serif;
}

.weather-app .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-app .active:hover {
  text-decoration: none;
}
